<div class="view-user p-5">

    {{#each rows}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3>{{this.name}}</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">{{this.design}}</h5>
            <p class="card-text">
                Taux de location {{this.taux}} Ariary <br>
                Durée de location {{ this.jour}} jours <br>
                </p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
    {{/each}}
</div>